MONGO_URL=mongodb://localhost:27017/wepublish_test
JWT_SECRET_KEY=ThisIsSuperSecret
HOST_URL=https://localhost:3000
WEBSITE_URL=https://localhost:3000
MEDIA_SERVER_URL=http://localhost:3004
MEDIA_SERVER_TOKEN=test
NODE_ENV=development

SEND_LOGIN_JWT_EXPIRES_MIN=10080
INVOICE_REMINDER_FREQ=3
INVOICE_REMINDER_MAX_TRIES=5
MONGO_LOCALE=en
RESET_PASSWORD_JWT_EXPIRES_MIN=1440
